torch==2.10
transformers==4.57.6
peft==0.20.0
peft==0.20.0
wandb==0.28.1
datasets==5.0.1
omegaconf==2.3.1
sentencepiece==0.2.2
jupyter==1.1.1
matplotlib==3.11.1
Levenshtein==0.27.3
openai==2.53.0
deepspeed==0.19.3